{% extends "base.html" %}
{% block title %}Discover{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Discover Movies</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <form action="/discover" method="POST" class="form-inline">
        <div class="form-group mr-2">
          <select class="form-control" name="genre_id" required>
            {% if selected_genre_id %}
                <option value="" disabled>Select Genre</option>
            {% else %}
                <option value="" selected disabled>Select Genre</option>
            {% endif %}
            {% for genre in genres %}
                {% if selected_genre_id|int == genre.id %}
                    <option value="{{ genre.id }}" selected>{{ genre.name }}</option>
                {% else %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Discover</button>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    {% if discover_results %}
      {% for movie in discover_results %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <div class="btn-group" role="group">
                <a class="btn btn-primary" href="/log/{{ movie.id }}">Log</a>
                <span style="margin: 0 30px;"></span>
                <form action="/add-to-watchlist/{{ movie.id }}" method="post">
                  <button type="submit" class="btn btn-primary ml-2">Add to watchlist</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
