{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-sm">
      <h1>Welcome, {{ user.email }}</h1>
    </div>
    <div class="col-sm">
      <div class="btn-group" style="margin-top: 10px;">
        <a class="btn btn-primary" href="/watched">Watched</a>
        <a class="btn btn-primary ml-2" href="/watchlist">Watchlist</a>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <form action="/" method="POST" class="form-inline">
        <div class="form-group mr-2">
          <input type="text" class="form-control" name="movie_title" placeholder="Search for a movie">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="row mt-4">
    {% if search_results %}
      {% for movie in search_results %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <div class="btn-group" role="group">
                <a class="btn btn-primary" href="/log/{{ movie.id }}">Log</a>
                <span style="margin: 0 30px;"></span>
                <form action="/add-to-watchlist/{{ movie.id }}" method="post">
                  <button type="submit" class="btn btn-primary ml-2">Add to watchlist</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
