{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    {% if similar_movies %}
      {% for movie in similar_movies %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <div class="btn-group" role="group">
                <a class="btn btn-primary" href="/log/{{ movie.id }}">Log</a>
                <span style="margin: 0 30px;"></span>
                <form action="/add-to-watchlist/{{ movie.id }}" method="post">
                  <button type="submit" class="btn btn-primary ml-2">Add to watchlist</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
